.green{
    color:rgb(0,255,0);
}
.light_blue{
    color:rgb(0,197,255);
}
.orange{
    color:rgb(255,165,0);
}
.blue{
    color:rgb(0,0,255);
}
.username{
    margin:0;
    padding:10px;
}
.vertical_align_middle{
    vertical-align: middle;
}